[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
django-allauth = "*"
django-crispy-forms = "*"
django-extensions = "*"


[dev-packages]

django-debug-toolbar = "*"
pylint = "*"


[requires]

python_version = "3.6"
